body {
    background-color: #F5E4E4
}

@font-face {
    font-family: Salt-Regular;
    src: url("miller_salt_font_duo/Salt-Regular.otf");
}

.titlecontainer {
    background: url(winelogo2.jpg);
    border-image: 20%;
    background-repeat: no-repeat;
    position:absolute;
    width: 400px; 
    height: 200px;
    left: 700px;
    top:27px; 
    font-family:Salt-Regular; 
    font-size: 100px;
    border: 5px solid #880e4f;
    border-width: 10px;
    border-collapse: separate;
    
    
}

.wineimage {
    position: absolute;
    box-shadow: 0px 5px 5px; 
    width:702px;
    height:1112px;
    left: 1px;
    top: -5px;
}

.description {
    position: absolute;
    width:702px;
    height: 500px;
    left: 1px;
    top: 350px;

}

@import url('https://fonts.googleapis.com/css?family=Yrsa');




#textd {
    position: absolute;
    width:702px;
    height: 500px;
    left: 700px;
    top: 300px;
    font-family: 'Yrsa', serif;
    font-size: 14px;

}


.btn1 {

    position: relative ;
    left: 780px;
    top: 500px;
    font-size: 14px;


}

.wineslide {
    position: relative ;
    width:80px;
    height: 80px;
    left: 800px;
    top: 500px;
    


}

.modal-content {
    background-color: #880e4f
}
/* ? */
 #wrapper { overflow: hidden; }  

input[type=radio] { display: none; }

label {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    opacity: .5;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  /* #arrow {
    height: 0;
    width: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 32px;
  } */
  #submitup {
      background-color: #880e4f;
  }

#signin:checked ~ #wrapper { height: 178px; }
#signin:checked ~ #wrapper #arrow { left: 32px; }
#signin:checked ~ button span { transform: translate3d(0,-72px,0); }

#signup:checked ~ #wrapper { height: 262px; }
#signup:checked ~ #wrapper #arrow { left: 137px; }
#signup:checked ~ button span { transform: translate3d(0,-144px,0); }

#reset:checked ~ #wrapper { height: 94px; }
#reset:checked ~ #wrapper #arrow { left: 404px; }
#reset:checked ~ button span { transform: translate3d(0,0,0); }

/* ======================= */

